#body_LR{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 231, 231);
    height: 100vh;
    width: 100%;
}

.fs-1{
    font-size:8px !important;
}

.fs-2 {
    font-size: 12px !important;
       
}


.fs-3 {
    font-size: 16px !important;
}

.fs-4 {
    font-size: 20px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

@media (max-width: 376px) 
{
    .btn-sm{
        padding : 8px 5px !important;
        border-radius:4px;
    }
}
.styleK {
    font-family: 'DroidArabicNaskhRegular' !important;
    font-weight: 600 !important;
}
.invois_multK{
    padding-top:0;
    padding-bottom:0;
}
.User_header_style {
    display: inline-block;
}
#body_newcus {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100vh;
    width: 100%;
}
.text-white-70{
    color: whitesmoke;
}
.main .home_icon {
    width: 40px;
    height: 40px;
    padding: 0;
    color: whitesmoke;
}

.btn-save-style{
    font-weight:700;
}

#header_text h4 {
    color: black;
    font-size:20px;
}
/* Container style */
.containerd {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .containerd {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .containerd {
        width: 970px;
    }
    
}

@media (min-width: 1200px) {
    .containerd {
        width: 1170px;
    }
}

.text-center{
    text-align: center;
}
.case-wrapper{
    position: relative;
    margin: 0px;
    float: left;
    width: 138px;
    height: 140px;
}
.app-icon{    
    padding: 30px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.app-icon_img {
    padding: 16px 0px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.app-icon_dolar {
    padding: 21px 35px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.app-icon-ogrange{
    background-color: #f39c12;
}
.app-icon-green{
    background-color: #589494;
}
.app-icon-yellow{
    background-color: #FFF5A7;
}
.app-icon-red{
    background-color: #C0392B;
}
.app-icon-grelight{
    background-color: #7F8C8D;
}

.app-icon-purple{
    background-color: #8E44AD;
}
.app-icon-bluelight{
    background-color: #4AA3DF;
}

.app-icon-purplelisht{
    background-color: #7574FF;
}


.app-icon i{

    text-decoration:none;
    text-decoration-color:none;
    
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}
.case-label{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.fas{
    color: red !important;
}

.fa-plus {
    font-size: 40px;
    color: white;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
.fa-plus:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}

.fa-utensils {
    font-size: 40px;
    color: white;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
    .fa-utensils:hover {
        color: rgb(73, 73, 78);
        transform: scale(1.2);
    }

.fa-user {
    font-size: 40px;
    color: rgb(153, 161, 161);
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
.fa-user:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}

.fa-home {
    font-size: 32px;
    color: white;
    
}
.ani{
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
.ani:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}


.fa-user-plus {
    font-size: 32px;
    color: white;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
.fa-user-plus:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}

.fa-dollar-sign {
    font-size: 3.6rem;
    color: white;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
.fa-dollar-sign:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}


.fa-fish {
    font-size: 40px;
    color: white;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}
.fa-fish:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}

.fa-cart-plus {
    font-size: 32px;
    color: white;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}

.fa-cart-plus:hover {
    color: rgb(73, 73, 78);
    transform: scale(1.2);
}


.imgpayment img {
    width: 50px;
    height: 50px;
    transition: all .3s;
    animation: moveInLeft-icon 1s ease-out;
}

.imgpayment img:hover {
    transform:scale(1.2);
}
.app-img {
    width: 98px;
    height: 98px;
}

@keyframes moveInLeft-icon {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
